* {
	box-sizing: border-box;
}

body {
	background-color: #298eea;
	font-family: 'Roboto', helvetica, sans-serif;
	padding-top: 60px;
}

.image {
	width: auto;
	text-align: center;
	vertical-align: middle;
	margin: 0 auto;
	padding-bottom: 30px;
}
.image img {
	height: 35px;
}

main {
	margin: 0 auto;
}

fieldset {
	border: none;
	padding: 0px;
}

fieldset input {
	margin: 15px 0px;
}

button {
	height: 55px;
	border: 2px;
	padding: 15px;
}

h1 {
	text-align: center;
	font-weight: 300;
	color: #565656;
	margin: 0 auto 45px;
	font-size: 35px;
	line-height: 38px;
	letter-spacing: 0;
	padding-top: 50px;
}

input[type='email'],
input[type='password'],
button[type='submit'] {
	background: #fcfcfc;
	border: 2px solid #e7e7e7;
	padding: 15px;
	width: 320px;
	display: block;
	border-radius: 3px;
	font-size: 18px;
	text-align: left;
	height: auto;
}

button[type='submit'] {
	color: white;
	background: #15cd72;
	border: 0;
	font-weight: 22px;
	text-align: center;
	margin-bottom: 0;
	height: auto;
}

button:hover[type='submit'] {
	background-color: #0cb863;
}

.demo-form {
	background-color: white;
	padding-left: 40px;
	padding-right: 40px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
	width: 400px;
}
.demo-form p {
	text-align: center;
	padding-bottom: 40px;
}

.demo-form p a {
	font-size: 14px;
	text-align: center;
	color: #999;
	margin-top: 10px;
}

footer p {
	text-align: center;
	color: white;
	font-weight: bold;
}

footer p a {
	color: white;
	font-weight: bold;
}

